# Fantasy Football Week One
## Data Collection

In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
import time

In [2]:
%%capture

from tqdm import tqdm_notebook as tqdm
from tqdm import tnrange
tqdm().pandas()

In [3]:
pd.set_option('display.max_columns', None)

In [4]:
pd.set_option('display.float_format', lambda x: '%.2f' % x)

### Setting DataFrames

In [5]:
passing_df = pd.DataFrame(columns = ['PLAYER', 'POSITION', 'TEAM', 'GP', 'ATT', 'CMP', 'PCT', 'YDS', 'YDSpG', 'LNG',
                                    'TD', 'INT', 'SCK', 'YDSL', 'RATE'])

In [7]:
rushing_df = pd.DataFrame(columns = ['PLAYER', 'POSITION', 'TEAM', 'GP', 'ATT', 'YDS', 'YDSpG', 'AVG', 'TD', 'LNG'])

In [8]:
receiving_df = pd.DataFrame(columns = ['PLAYER', 'POSITION', 'TEAM', 'GP', 'REC', 'YDS', 'YDSpG', 'AVG', 'LNG', 'TD'])

In [6]:
kicking_df = pd.DataFrame(columns = ['PLAYER', 'POSITION', 'TEAM', 'GP', 'FGM_A', 'FG%', 'LNG', '_1_19', '_20_29', 
                                     '_30_39', '_40_49', 'OVER50', 'XPM_A', 'XP%', 'PTS'])

In [9]:
defense_df = pd.DataFrame(columns = ['PLAYER', 'POSITION', 'TEAM', 'GP', 'STK', 'ATK', 'CMB', 'INT', 'YDS', 'LNG', 
                                     'TD', 'FUM', 'FREC', 'FTD', 'SCK', 'PDEF', 'SFTY'])

In [63]:
def get_name(soup):
    container = soup.find('tbody')
    names = []
    for i in range(len(container.findAll('a', class_ = ''))):
        if i % 2 != 0:
            names.append(container.findAll('a', class_ = '')[i].get_text())
        else:
            continue
    return names

In [83]:
def get_position(soup):
    container = soup.find('tbody')
    positions = []
    for i in range(len(container.findAll('span', class_ = 'CellPlayerName-position'))):
        if i % 2 != 0:
            position = container.findAll('span', class_ = 'CellPlayerName-position')[i].get_text()
            position = position.replace('\n', '')
            position = position.replace(' ', '')
            positions.append(position)
        else:
            continue
    return positions

In [82]:
def get_team(soup):
    container = soup.find('tbody')
    teams = []
    for i in range(len(container.findAll('span', class_ = 'CellPlayerName-team'))):
        if i % 2 != 0:
            team = container.findAll('span', class_ = 'CellPlayerName-team')[i].get_text()
            team = team.replace('\n', '')
            team = team.replace(' ', '')
            teams.append(team)
        else:
            continue
    return teams

### 12 Stats

In [181]:
def get_first(soup):
    container = soup.find('tbody')
    first_col = []
    count = 0
    length = len(container.findAll('td', class_ = 'TableBase-bodyTd TableBase-bodyTd--number'))
    for i in range(length):
        if count in range(length):
            val = container.findAll('td', class_ = 'TableBase-bodyTd TableBase-bodyTd--number')[count].get_text()
            val = val.replace('\n', '')
            val = val.replace(' ', '')
            first_col.append(val)
        
        count += 12    
    return first_col

In [182]:
def get_second(soup):
    container = soup.find('tbody')
    second_col = []
    count = 1
    length = len(container.findAll('td', class_ = 'TableBase-bodyTd TableBase-bodyTd--number'))
    for i in range(length):
        if count in range(length):
            val = container.findAll('td', class_ = 'TableBase-bodyTd TableBase-bodyTd--number')[count].get_text()
            val = val.replace('\n', '')
            val = val.replace(' ', '')
            second_col.append(val)
        
        count += 12    
    return second_col

In [183]:
def get_third(soup):
    container = soup.find('tbody')
    third_col = []
    count = 2
    length = len(container.findAll('td', class_ = 'TableBase-bodyTd TableBase-bodyTd--number'))
    for i in range(length):
        if count in range(length):
            val = container.findAll('td', class_ = 'TableBase-bodyTd TableBase-bodyTd--number')[count].get_text()
            val = val.replace('\n', '')
            val = val.replace(' ', '')
            third_col.append(val)
        
        count += 12    
    return third_col

In [184]:
def get_fourth(soup):
    container = soup.find('tbody')
    fourth_col = []
    count = 3
    length = len(container.findAll('td', class_ = 'TableBase-bodyTd TableBase-bodyTd--number'))
    for i in range(length):
        if count in range(length):
            val = container.findAll('td', class_ = 'TableBase-bodyTd TableBase-bodyTd--number')[count].get_text()
            val = val.replace('\n', '')
            val = val.replace(' ', '')
            fourth_col.append(val)
        
        count += 12    
    return fourth_col

In [185]:
def get_fifth(soup):
    container = soup.find('tbody')
    fifth_col = []
    count = 4
    length = len(container.findAll('td', class_ = 'TableBase-bodyTd TableBase-bodyTd--number'))
    for i in range(length):
        if count in range(length):
            val = container.findAll('td', class_ = 'TableBase-bodyTd TableBase-bodyTd--number')[count].get_text()
            val = val.replace('\n', '')
            val = val.replace(' ', '')
            fifth_col.append(val)
        
        count += 12    
    return fifth_col

In [186]:
def get_sixth(soup):
    container = soup.find('tbody')
    sixth_col = []
    count = 5
    length = len(container.findAll('td', class_ = 'TableBase-bodyTd TableBase-bodyTd--number'))
    for i in range(length):
        if count in range(length):
            val = container.findAll('td', class_ = 'TableBase-bodyTd TableBase-bodyTd--number')[count].get_text()
            val = val.replace('\n', '')
            val = val.replace(' ', '')
            sixth_col.append(val)
        
        count += 12    
    return sixth_col

In [187]:
def get_seventh(soup):
    container = soup.find('tbody')
    seventh_col = []
    count = 6
    length = len(container.findAll('td', class_ = 'TableBase-bodyTd TableBase-bodyTd--number'))
    for i in range(length):
        if count in range(length):
            val = container.findAll('td', class_ = 'TableBase-bodyTd TableBase-bodyTd--number')[count].get_text()
            val = val.replace('\n', '')
            val = val.replace(' ', '')
            seventh_col.append(val)
        
        count += 12    
    return seventh_col

In [188]:
def get_eighth(soup):
    container = soup.find('tbody')
    eighth_col = []
    count = 7
    length = len(container.findAll('td', class_ = 'TableBase-bodyTd TableBase-bodyTd--number'))
    for i in range(length):
        if count in range(length):
            val = container.findAll('td', class_ = 'TableBase-bodyTd TableBase-bodyTd--number')[count].get_text()
            val = val.replace('\n', '')
            val = val.replace(' ', '')
            eighth_col.append(val)
        
        count += 12    
    return eighth_col

In [190]:
def get_ninth(soup):
    container = soup.find('tbody')
    ninth_col = []
    count = 8
    length = len(container.findAll('td', class_ = 'TableBase-bodyTd TableBase-bodyTd--number'))
    for i in range(length):
        if count in range(length):
            val = container.findAll('td', class_ = 'TableBase-bodyTd TableBase-bodyTd--number')[count].get_text()
            val = val.replace('\n', '')
            val = val.replace(' ', '')
            ninth_col.append(val)
        
        count += 12    
    return ninth_col

In [191]:
def get_tenth(soup):
    container = soup.find('tbody')
    tenth_col = []
    count = 9
    length = len(container.findAll('td', class_ = 'TableBase-bodyTd TableBase-bodyTd--number'))
    for i in range(length):
        if count in range(length):
            val = container.findAll('td', class_ = 'TableBase-bodyTd TableBase-bodyTd--number')[count].get_text()
            val = val.replace('\n', '')
            val = val.replace(' ', '')
            tenth_col.append(val)
        
        count += 12    
    return tenth_col

In [192]:
def get_eleventh(soup):
    container = soup.find('tbody')
    eleventh_col = []
    count = 10
    length = len(container.findAll('td', class_ = 'TableBase-bodyTd TableBase-bodyTd--number'))
    for i in range(length):
        if count in range(length):
            val = container.findAll('td', class_ = 'TableBase-bodyTd TableBase-bodyTd--number')[count].get_text()
            val = val.replace('\n', '')
            val = val.replace(' ', '')
            eleventh_col.append(val)
        
        count += 12    
    return eleventh_col

In [193]:
def get_twelfth(soup):
    container = soup.find('tbody')
    twelfth_col = []
    count = 11
    length = len(container.findAll('td', class_ = 'TableBase-bodyTd TableBase-bodyTd--number'))
    for i in range(length):
        if count in range(length):
            val = container.findAll('td', class_ = 'TableBase-bodyTd TableBase-bodyTd--number')[count].get_text()
            val = val.replace('\n', '')
            val = val.replace(' ', '')
            twelfth_col.append(val)
        
        count += 12    
    return twelfth_col

In [211]:
def get_passing(url):
    html = requests.get(url)
    soup = BeautifulSoup(html.content, 'html.parser')
    
    passing_df['PLAYER'] = get_name(soup)
    passing_df['POSITION'] = get_position(soup)
    passing_df['TEAM'] = get_team(soup)
    passing_df['GP'] = get_first(soup)
    passing_df['ATT'] = get_second(soup)
    passing_df['CMP'] = get_third(soup)
    passing_df['PCT'] = get_fourth(soup)
    passing_df['YDS'] = get_fifth(soup)
    passing_df['YDSpG'] = get_sixth(soup)
    passing_df['LNG'] = get_seventh(soup)
    passing_df['TD'] = get_eighth(soup)
    passing_df['INT'] = get_ninth(soup)
    passing_df['SCK'] = get_tenth(soup)
    passing_df['YDSL'] = get_eleventh(soup)
    passing_df['RATE'] = get_twelfth(soup)

In [212]:
get_passing(url)

In [213]:
passing_df

,PLAYER,POSITION,TEAM,GP,ATT,CMP,PCT,YDS,YDSpG,LNG,TD,INT,SCK,YDSL,RATE,LNGTD
0,Matt Ryan,QB,ATL,1,54,37,68.5,450,450.0,44,2,1,1,16,98.5,44
1,Aaron Rodgers,QB,GB,1,44,32,72.7,364,364.0,45,4,0,0,0,127.5,45
2,Philip Rivers,QB,IND,1,46,36,78.3,363,363.0,35,1,2,2,0,88.7,35
3,Russell Wilson,QB,SEA,1,35,31,88.6,322,322.0,38,4,0,0,23,143.1,38
4,Josh Allen,QB,BUF,1,46,33,71.7,312,312.0,29,2,0,0,6,104.6,29
5,Matthew Stafford,QB,DET,1,42,24,57.1,297,297.0,32,1,1,1,9,77.2,32
6,Jared Goff,QB,LAR,1,31,20,64.5,275,275.0,31,0,1,1,6,79.4,31
7,Lamar Jackson,QB,BAL,1,25,20,80.0,275,275.0,47,3,0,0,14,152.1,47
8,Teddy Bridgewater,QB,CAR,1,34,22,64.7,270,270.0,75,1,0,0,10,98.9,75
9,Carson Wentz,QB,PHI,1,42,24,57.1,270,270.0,55,2,2,2,62,72.5,55
10,Dak Prescott,QB,DAL,1,39,25,64.1,266,266.0,33,1,0,0,22,92.5,33
11,Kirk Cousins,QB,MIN,1,25,19,76.0,259,259.0,37,2,1,1,11,118.6,37
12,Jimmy Garoppolo,QB,SF,1,33,19,57.6,259,259.0,76,2,0,0,16,103.0,76
13,Deshaun Watson,QB,HOU,1,32,20,62.5,253,253.0,31,1,1,1,11,84.5,31
14,Mitchell Trubisky,QB,CHI,1,36,20,55.6,242,242.0,27,3,0,0,28,104.2,27
15,Tom Brady,QB,TB,1,36,23,63.9,239,239.0,37,2,2,2,15,78.4,37
16,Derek Carr,QB,LV,1,30,22,73.3,239,239.0,45,1,0,0,0,107.5,45
17,Kyler Murray,QB,ARI,1,40,26,65.0,230,230.0,33,1,1,1,6,78.1,33
18,Sam Darnold,QB,NYJ,1,35,21,60.0,215,215.0,69,1,1,1,13,75.3,69
19,Patrick Mahomes,QB,KC,1,32,24,75.0,211,211.0,19,3,0,0,8,123.3,19
20,Tyrod Taylor,QB,LAC,1,30,16,53.3,208,208.0,37,0,0,0,1,75.4,37
21,Joe Burrow,QB,CIN,1,36,23,63.9,193,193.0,19,0,1,1,20,66.1,19
22,Ryan Fitzpatrick,QB,MIA,1,30,20,66.7,191,191.0,21,0,3,3,9,44.6,21
23,Baker Mayfield,QB,CLE,1,39,21,53.8,189,189.0,28,1,1,1,21,65.0,28
24,Dwayne Haskins,QB,WAS,1,31,17,54.8,178,178.0,21,1,0,0,19,82.5,21
25,Gardner Minshew,QB,JAC,1,20,19,95.0,173,173.0,28,3,0,0,23,142.3,28
26,Drew Brees,QB,NO,1,30,18,60.0,160,160.0,46,2,0,0,9,96.5,46
27,Cam Newton,QB,NE,1,19,15,78.9,155,155.0,25,0,0,0,15,100.7,25
28,Taysom Hill,QB,NO,1,1,1,100.0,38,38.0,38,0,0,0,0,118.8,38
29,Robert Griffin III,QB,BAL,1,1,1,100.0,9,9.0,9,0,0,0,0,104.2,9
30,Jacoby Brissett,QB,IND,1,0,0,—,0,0.0,—,0,0,0,6,—,—

In [204]:
url

'https://www.cbssports.com/nfl/stats/player/passing/nfl/regular/all/'