# Defense

In [176]:
import pandas as pd

In [218]:
df = pd.read_pickle('defense')

In [219]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
# setting format for readability
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [220]:
df.head()

,PLAYER,POSITION,TEAM,GP,STK,ATK,CMB,INT,YDS,LNG,TD,FMB,FREC,FTD,SCK,PDEF,SFTY
0,Jaire Alexander,CB,GB,1,4,1,5,1,-4,-4,0,0,0,0,1.0,1,1
1,Chidobe Awuzie,CB,DAL,1,2,0,2,1,0,0,0,0,0,0,0.0,1,0
2,Quandre Diggs,SS,SEA,1,3,1,4,1,0,0,0,0,0,0,0.0,2,0
3,Kyle Fuller,CB,CHI,1,3,1,4,1,5,5,0,0,0,0,0.0,1,0
4,Stephon Gilmore,CB,NE,1,4,1,5,1,15,15,0,0,0,0,0.0,1,0

In [221]:
df.shape

(509, 17)

In [222]:
df.dtypes

PLAYER      object
POSITION    object
TEAM        object
GP          object
STK         object
ATK         object
CMB         object
INT         object
YDS         object
LNG         object
TD          object
FMB         object
FREC        object
FTD         object
SCK         object
PDEF        object
SFTY        object
dtype: object

In [223]:
columns = ['GP', 'STK', 'ATK', 'CMB', 'INT', 'YDS', 'LNG', 'TD', 'FMB', 'FREC', 'FTD', 'PDEF', 'SFTY']

In [224]:
dash = df['LNG'][508]
val = dash

In [225]:
for column in columns:
    for i in range(len(df[column])):
        item = df[column][i]
        if item == val:
            df[column][i] = '0'
        else:
            df[column][i] = item

In [226]:
for column in columns:
    df[column] = df[column].map(lambda x: int(x))

In [227]:
df.dtypes

PLAYER      object
POSITION    object
TEAM        object
GP           int64
STK          int64
ATK          int64
CMB          int64
INT          int64
YDS          int64
LNG          int64
TD           int64
FMB          int64
FREC         int64
FTD          int64
SCK         object
PDEF         int64
SFTY         int64
dtype: object

In [228]:
df['SCK'][3] + df['SCK'][4]

'0.00.0'

In [216]:
for i in range(len(df['SCK'])):
    item = df['SCK'][i]
    ones, tenths = item.split('.')
    ones = int(ones)
    tenths = int(tenths) * .1
    df['SCK'] = ones + tenths

AttributeError: 'numpy.float64' object has no attribute 'split'

In [217]:
df['SCK']

0     1.00
1     1.00
2     1.00
3     1.00
4     1.00
5     1.00
6     1.00
7     1.00
8     1.00
9     1.00
10    1.00
11    1.00
12    1.00
13    1.00
14    1.00
15    1.00
16    1.00
17    1.00
18    1.00
19    1.00
20    1.00
21    1.00
22    1.00
23    1.00
24    1.00
25    1.00
26    1.00
27    1.00
28    1.00
29    1.00
30    1.00
31    1.00
32    1.00
33    1.00
34    1.00
35    1.00
36    1.00
37    1.00
38    1.00
39    1.00
40    1.00
41    1.00
42    1.00
43    1.00
44    1.00
45    1.00
46    1.00
47    1.00
48    1.00
49    1.00
50    1.00
51    1.00
52    1.00
53    1.00
54    1.00
55    1.00
56    1.00
57    1.00
58    1.00
59    1.00
60    1.00
61    1.00
62    1.00
63    1.00
64    1.00
65    1.00
66    1.00
67    1.00
68    1.00
69    1.00
70    1.00
71    1.00
72    1.00
73    1.00
74    1.00
75    1.00
76    1.00
77    1.00
78    1.00
79    1.00
80    1.00
81    1.00
82    1.00
83    1.00
84    1.00
85    1.00
86    1.00
87    1.00
88    1.00
89    1.00
90    1.00
91    1.00
92    1.00
93    1.00
94    1.00
95    1.00
96    1.00
97    1.00
98    1.00
99    1.00
100   1.00
101   1.00
102   1.00
103   1.00
104   1.00
105   1.00
106   1.00
107   1.00
108   1.00
109   1.00
110   1.00
111   1.00
112   1.00
113   1.00
114   1.00
115   1.00
116   1.00
117   1.00
118   1.00
119   1.00
120   1.00
121   1.00
122   1.00
123   1.00
124   1.00
125   1.00
126   1.00
127   1.00
128   1.00
129   1.00
130   1.00
131   1.00
132   1.00
133   1.00
134   1.00
135   1.00
136   1.00
137   1.00
138   1.00
139   1.00
140   1.00
141   1.00
142   1.00
143   1.00
144   1.00
145   1.00
146   1.00
147   1.00
148   1.00
149   1.00
150   1.00
151   1.00
152   1.00
153   1.00
154   1.00
155   1.00
156   1.00
157   1.00
158   1.00
159   1.00
160   1.00
161   1.00
162   1.00
163   1.00
164   1.00
165   1.00
166   1.00
167   1.00
168   1.00
169   1.00
170   1.00
171   1.00
172   1.00
173   1.00
174   1.00
175   1.00
176   1.00
177   1.00
178   1.00
179   1.00
180   1.00
181   1.00
182   1.00
183   1.00
184   1.00
185   1.00
186   1.00
187   1.00
188   1.00
189   1.00
190   1.00
191   1.00
192   1.00
193   1.00
194   1.00
195   1.00
196   1.00
197   1.00
198   1.00
199   1.00
200   1.00
201   1.00
202   1.00
203   1.00
204   1.00
205   1.00
206   1.00
207   1.00
208   1.00
209   1.00
210   1.00
211   1.00
212   1.00
213   1.00
214   1.00
215   1.00
216   1.00
217   1.00
218   1.00
219   1.00
220   1.00
221   1.00
222   1.00
223   1.00
224   1.00
225   1.00
226   1.00
227   1.00
228   1.00
229   1.00
230   1.00
231   1.00
232   1.00
233   1.00
234   1.00
235   1.00
236   1.00
237   1.00
238   1.00
239   1.00
240   1.00
241   1.00
242   1.00
243   1.00
244   1.00
245   1.00
246   1.00
247   1.00
248   1.00
249   1.00
250   1.00
251   1.00
252   1.00
253   1.00
254   1.00
255   1.00
256   1.00
257   1.00
258   1.00
259   1.00
260   1.00
261   1.00
262   1.00
263   1.00
264   1.00
265   1.00
266   1.00
267   1.00
268   1.00
269   1.00
270   1.00
271   1.00
272   1.00
273   1.00
274   1.00
275   1.00
276   1.00
277   1.00
278   1.00
279   1.00
280   1.00
281   1.00
282   1.00
283   1.00
284   1.00
285   1.00
286   1.00
287   1.00
288   1.00
289   1.00
290   1.00
291   1.00
292   1.00
293   1.00
294   1.00
295   1.00
296   1.00
297   1.00
298   1.00
299   1.00
300   1.00
301   1.00
302   1.00
303   1.00
304   1.00
305   1.00
306   1.00
307   1.00
308   1.00
309   1.00
310   1.00
311   1.00
312   1.00
313   1.00
314   1.00
315   1.00
316   1.00
317   1.00
318   1.00
319   1.00
320   1.00
321   1.00
322   1.00
323   1.00
324   1.00
325   1.00
326   1.00
327   1.00
328   1.00
329   1.00
330   1.00
331   1.00
332   1.00
333   1.00
334   1.00
335   1.00
336   1.00
337   1.00
338   1.00
339   1.00
340   1.00
341   1.00
342   1.00
343   1.00
344   1.00
345   1.00
346   1.00
347   1.00
348   1.00
349   1.00
350   1.00
351   1.00
352   1.00
353   1.00
354   1.00
355   1.00
356   1.00
357   1.00
358   1.00
359   1.00
360   1.00
361   1.00
362   1.00
363   1.00
364   1.00
365   1.00
366   1.00
367   1.00
368   1.00
369   1.00
370   1.00
371   1.00
372   1.00
373   1.00
374   1.00
375   1.00
376   1.00
377   1.00
378   1.00
379   1.00
380   1.00
381   1.00
382   1.00
383   1.00
384   1.00
385   1.00
386   1.00
387   1.00
388   1.00
389   1.00
390   1.00
391   1.00
392   1.00
393   1.00
394   1.00
395   1.00
396   1.00
397   1.00
398   1.00
399   1.00
400   1.00
401   1.00
402   1.00
403   1.00
404   1.00
405   1.00
406   1.00
407   1.00
408   1.00
409   1.00
410   1.00
411   1.00
412   1.00
413   1.00
414   1.00
415   1.00
416   1.00
417   1.00
418   1.00
419   1.00
420   1.00
421   1.00
422   1.00
423   1.00
424   1.00
425   1.00
426   1.00
427   1.00
428   1.00
429   1.00
430   1.00
431   1.00
432   1.00
433   1.00
434   1.00
435   1.00
436   1.00
437   1.00
438   1.00
439   1.00
440   1.00
441   1.00
442   1.00
443   1.00
444   1.00
445   1.00
446   1.00
447   1.00
448   1.00
449   1.00
450   1.00
451   1.00
452   1.00
453   1.00
454   1.00
455   1.00
456   1.00
457   1.00
458   1.00
459   1.00
460   1.00
461   1.00
462   1.00
463   1.00
464   1.00
465   1.00
466   1.00
467   1.00
468   1.00
469   1.00
470   1.00
471   1.00
472   1.00
473   1.00
474   1.00
475   1.00
476   1.00
477   1.00
478   1.00
479   1.00
480   1.00
481   1.00
482   1.00
483   1.00
484   1.00
485   1.00
486   1.00
487   1.00
488   1.00
489   1.00
490   1.00
491   1.00
492   1.00
493   1.00
494   1.00
495   1.00
496   1.00
497   1.00
498   1.00
499   1.00
500   1.00
501   1.00
502   1.00
503   1.00
504   1.00
505   1.00
506   1.00
507   1.00
508   1.00
Name: SCK, dtype: float64