# Rushing

In [1]:
import pandas as pd

In [2]:
df = pd.read_pickle('rushing')

In [3]:
df.head()

                  PLAYER POSITION TEAM GP ATT  YDS  YDSpG  AVG TD LNG
0  Clyde Edwards-Helaire       RB   KC  1  25  138  138.0  5.5  1  27
1          Derrick Henry       RB  TEN  1  31  116  116.0  3.7  0  13
2            Benny Snell       RB  PIT  1  19  113  113.0  6.0  0  30
3    Christian McCaffrey       RB  CAR  1  23   97   97.0  4.2  2  15
4        Ezekiel Elliott       RB  DAL  1  22   96   96.0  4.4  1  14

In [4]:
df.shape

(137, 10)