# Week 2 Analysis

In [189]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import re

In [190]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [191]:
df = pd.read_pickle('player_stats')
fantasy_pts = pd.read_pickle('fantasy_weeks')
defense = pd.read_pickle('defense_data')

In [192]:
print(df.shape)
df.head()

(860, 28)

,Player,Team,Position,Age,Games,GamesStarted,CompletedPasses,PassesAttempted,PassingYds,PassingTDs,Interceptions,RushingAttempts,RushingYds,RushingYdspAtt,RushingTDs,Targeted,Receptions,ReceivingYds,YdspReception,ReceivingTDs,Fumbles,LostFumbles,TtlTDs,TwoPTConversions,TwoPTConversionPasses,FDFantasyPts,PositionRank,OverallRank
0,Aaron Jones,GNB,RB,26,2,2,0,0,0,0,0,34,234,6.88,3,14,8,78,9.75,1,1,0,4,,,59.2,1,1
1,Calvin Ridley,ATL,WR,26,2,2,0,0,0,0,0,1,-1,-1.00,0,22,16,239,14.94,4,0,0,4,,,55.8,1,2
2,Alvin Kamara,NOR,RB,25,2,2,0,0,0,0,0,25,95,3.80,3,17,14,146,10.43,1,0,0,4,,,55.1,2,3
3,Christian McCaffrey,CAR,RB,24,2,2,0,0,0,0,0,41,156,3.80,4,9,7,67,9.57,0,0,0,4,,,49.8,3,4
4,Russell Wilson,SEA,QB,32,2,2,52,63,610,9,1,8,68,8.50,0,0,0,0,,0,1,0,0,,,66.2,1,5

In [193]:
print(fantasy_pts.shape)
fantasy_pts.head()

(526, 6)

           Player Team Position Ttl_Fant Week_1 Week_2
0  Russell Wilson  SEA       QB     66.2   31.8   34.4
1      Josh Allen  BUF       QB     62.7   28.2   34.5
2      Cam Newton   NE       QB     61.3   25.7   35.6
3    Kyler Murray  ARI       QB     60.4   27.3   33.1
4    Dak Prescott  DAL       QB     57.4   17.6   39.8

In [194]:
mrunlimited = fantasy_pts['Player'][0]

In [195]:
df[df['Player'] == mrunlimited]

,Player,Team,Position,Age,Games,GamesStarted,CompletedPasses,PassesAttempted,PassingYds,PassingTDs,Interceptions,RushingAttempts,RushingYds,RushingYdspAtt,RushingTDs,Targeted,Receptions,ReceivingYds,YdspReception,ReceivingTDs,Fumbles,LostFumbles,TtlTDs,TwoPTConversions,TwoPTConversionPasses,FDFantasyPts,PositionRank,OverallRank
434,Russell Wilson,SEA,QB,32,2,2,52,63,610,9,1,8,68,8.50,0,0,0,0,,0,1,0,0,,,66.2,1,5

In [204]:
df['Player'] = df['Player'].map(lambda x: x.strip())
fantasy_pts['Player'] = fantasy_pts['Player'].map(lambda x: x.strip())

In [205]:
dataframe = pd.merge(df, fantasy_pts, 'left', on='Player')

In [209]:
dataframe.drop(columns = ['Team_y', 'Position_y'], inplace = True)
dataframe.rename(columns = {'Team_x': 'Team', 'Position_x': 'Position'}, inplace = True)

In [210]:
print(dataframe.shape)
dataframe.head()

(860, 31)

,Player,Team,Position,Age,Games,GamesStarted,CompletedPasses,PassesAttempted,PassingYds,PassingTDs,Interceptions,RushingAttempts,RushingYds,RushingYdspAtt,RushingTDs,Targeted,Receptions,ReceivingYds,YdspReception,ReceivingTDs,Fumbles,LostFumbles,TtlTDs,TwoPTConversions,TwoPTConversionPasses,FDFantasyPts,PositionRank,OverallRank,Ttl_Fant,Week_1,Week_2
0,Aaron Jones,GNB,RB,26,2,2,0,0,0,0,0,34,234,6.88,3,14,8,78,9.75,1,1,0,4,,,59.2,1,1,55.2,13.6,41.6
1,Calvin Ridley,ATL,WR,26,2,2,0,0,0,0,0,1,-1,-1.00,0,22,16,239,14.94,4,0,0,4,,,55.8,1,2,47.8,24.9,22.9
2,Alvin Kamara,NOR,RB,25,2,2,0,0,0,0,0,25,95,3.80,3,17,14,146,10.43,1,0,0,4,,,55.1,2,3,48.1,18.7,29.4
3,Christian McCaffrey,CAR,RB,24,2,2,0,0,0,0,0,41,156,3.80,4,9,7,67,9.57,0,0,0,4,,,49.8,3,4,46.2,25.4,20.8
4,Russell Wilson,SEA,QB,32,2,2,52,63,610,9,1,8,68,8.50,0,0,0,0,,0,1,0,0,,,66.2,1,5,66.2,31.8,34.4

In [213]:
dataframe.fillna('0.0', inplace = True)

In [214]:
dataframe.columns

Index(['Player', 'Team', 'Position', 'Age', 'Games', 'GamesStarted',
       'CompletedPasses', 'PassesAttempted', 'PassingYds', 'PassingTDs',
       'Interceptions', 'RushingAttempts', 'RushingYds', 'RushingYdspAtt',
       'RushingTDs', 'Targeted', 'Receptions', 'ReceivingYds', 'YdspReception',
       'ReceivingTDs', 'Fumbles', 'LostFumbles', 'TtlTDs', 'TwoPTConversions',
       'TwoPTConversionPasses', 'FDFantasyPts', 'PositionRank', 'OverallRank',
       'Ttl_Fant', 'Week_1', 'Week_2'],
      dtype='object')

In [215]:
integers = ['Age', 'Games', 'GamesStarted', 'CompletedPasses', 'PassesAttempted', 'PassingYds', 'PassingTDs', 
            'Interceptions', 'RushingAttempts', 'RushingYds', 'RushingTDs', 'Targeted', 'Receptions', 
            'ReceivingYds', 'ReceivingTDs', 'Fumbles', 'LostFumbles', 'TtlTDs']

floats = ['RushingYdspAtt', 'YdspReception', 'FDFantasyPts', 'Ttl_Fant','Week_1', 'Week_2']

In [216]:
for integer in integers:
#     print(integer)
    dataframe[integer] = dataframe[integer].map(lambda x: int(x))

In [217]:
two_pts = ['TwoPTConversions', 'TwoPTConversionPasses']

for column in two_pts:
    for i in range(len(dataframe[column])):
        item = dataframe[column][i]
        if item == '':
            dataframe[column][i] = 0
        else:
            dataframe[column][i] = item

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [218]:
for column in two_pts:
    dataframe[column] = dataframe[column].map(lambda x: int(x))

In [219]:
for column in floats:
    for i in range(len(dataframe[column])):
        item = dataframe[column][i]
        if item == '':
            dataframe[column][i] = '0.0'
        else:
            dataframe[column][i] = item

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [220]:
for column in floats:
    for i in range(len(dataframe[column])):
        item = str(dataframe[column][i])
        ones, tenths = item.split('.')
        ones = int(ones)
        tenths = int(tenths) * .1
        dataframe[column][i] = ones + tenths

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [221]:
dataframe.head()

,Player,Team,Position,Age,Games,GamesStarted,CompletedPasses,PassesAttempted,PassingYds,PassingTDs,Interceptions,RushingAttempts,RushingYds,RushingYdspAtt,RushingTDs,Targeted,Receptions,ReceivingYds,YdspReception,ReceivingTDs,Fumbles,LostFumbles,TtlTDs,TwoPTConversions,TwoPTConversionPasses,FDFantasyPts,PositionRank,OverallRank,Ttl_Fant,Week_1,Week_2
0,Aaron Jones,GNB,RB,26,2,2,0,0,0,0,0,34,234,14.80,3,14,8,78,16.50,1,1,0,4,0,0,59.20,1,1,55.20,13.60,41.60
1,Calvin Ridley,ATL,WR,26,2,2,0,0,0,0,0,1,-1,-1.00,0,22,16,239,23.40,4,0,0,4,0,0,55.80,1,2,47.80,24.90,22.90
2,Alvin Kamara,NOR,RB,25,2,2,0,0,0,0,0,25,95,11.00,3,17,14,146,14.30,1,0,0,4,0,0,55.10,2,3,48.10,18.70,29.40
3,Christian McCaffrey,CAR,RB,24,2,2,0,0,0,0,0,41,156,11.00,4,9,7,67,14.70,0,0,0,4,0,0,49.80,3,4,46.20,25.40,20.80
4,Russell Wilson,SEA,QB,32,2,2,52,63,610,9,1,8,68,13.00,0,0,0,0,0.00,0,1,0,0,0,0,66.20,1,5,66.20,31.80,34.40

In [222]:
defense.head()

,Team,Ttl_Pts_Allowed,Ttl_Offense_Plays_Allowed,Yds_p_Play,Ttl_Yds,Rushing_Att,Rushing_Yds,Rushing_Yds_p_Att,Rushing_TDs,Passing_Att,Passing_Yds_p_Att,Completions,Yds_p_Completion,Passing_Yds,Passing_TDs,RZ_Att,RZ_TD,RZ_Percent,Ttl_Turnovers,Interceptions,Fumbles,Sacks
0,Baltimore Ravens,28,125,4.9,610,44,189,4.3,0,75,6.2,46,10.1,464,2,3,2,66.7%,5,2,3,6
1,Los Angeles Chargers,41,137,5.2,709,50,247,4.9,1,83,6,50,9.9,495,2,3,1,33.3%,2,1,1,4
2,Pittsburgh Steelers,43,136,4.5,610,46,133,2.9,0,80,6.9,45,12.3,555,4,7,2,28.6%,4,3,1,10
3,Arizona Cardinals,43,121,5.6,682,48,240,5,1,66,7.3,38,12.7,482,3,7,2,28.6%,2,0,2,7
4,Los Angeles Rams,43,138,5.4,743,53,257,4.8,3,82,6.2,51,10,508,1,7,4,57.1%,3,2,1,3

In [223]:
def_fantasy = fantasy_pts[fantasy_pts['Position'] == 'DST']
def_fantasy.rename(columns={'Player': 'TEAM'}, inplace = True)

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [224]:
defense.rename(columns={'Team': 'TEAM'}, inplace=True)

In [225]:
defense_df = pd.merge(defense, def_fantasy, 'left', on='TEAM')

In [226]:
defense_df.drop(columns=['Team', 'Position'], inplace=True)

In [227]:
defense_df.head()

,TEAM,Ttl_Pts_Allowed,Ttl_Offense_Plays_Allowed,Yds_p_Play,Ttl_Yds,Rushing_Att,Rushing_Yds,Rushing_Yds_p_Att,Rushing_TDs,Passing_Att,Passing_Yds_p_Att,Completions,Yds_p_Completion,Passing_Yds,Passing_TDs,RZ_Att,RZ_TD,RZ_Percent,Ttl_Turnovers,Interceptions,Fumbles,Sacks,Ttl_Fant,Week_1,Week_2
0,Baltimore Ravens,28,125,4.9,610,44,189,4.3,0,75,6.2,46,10.1,464,2,3,2,66.7%,5,2,3,6,30.0,15.0,15.0
1,Los Angeles Chargers,41,137,5.2,709,50,247,4.9,1,83,6,50,9.9,495,2,3,1,33.3%,2,1,1,4,12.0,11.0,1.0
2,Pittsburgh Steelers,43,136,4.5,610,46,133,2.9,0,80,6.9,45,12.3,555,4,7,2,28.6%,4,3,1,10,21.0,8.0,13.0
3,Arizona Cardinals,43,121,5.6,682,48,240,5,1,66,7.3,38,12.7,482,3,7,2,28.6%,2,0,2,7,13.0,4.0,9.0
4,Los Angeles Rams,43,138,5.4,743,53,257,4.8,3,82,6.2,51,10,508,1,7,4,57.1%,3,2,1,3,11.0,4.0,7.0