# Week 2 Analysis

In [39]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [79]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [95]:
df = pd.read_pickle('player_stats')
fantasy_pts = pd.read_pickle('fantasy_weeks')
defense = pd.read_pickle('defense_data')

In [96]:
print(df.shape)
df.head()

(430, 28)

,Player,Team,Position,Age,Games,GamesStarted,CompletedPasses,PassesAttempted,PassingYds,PassingTDs,Interceptions,RushingAttempts,RushingYds,RushingYdspAtt,RushingTDs,Targeted,Receptions,ReceivingYds,YdspReception,ReceivingTDs,Fumbles,LostFumbles,TtlTDs,TwoPTConversions,TwoPTConversionPasses,FantasyPts,PositionRank,OverallRank
0,Aaron Jones,GNB,RB,26,2,2,0,0,0,0,0,34,234,6.88,3,14,8,78,9.75,1,1,0,4,,,59.2,1,1
1,Calvin Ridley,ATL,WR,26,2,2,0,0,0,0,0,1,-1,-1.00,0,22,16,239,14.94,4,0,0,4,,,55.8,1,2
2,Alvin Kamara,NOR,RB,25,2,2,0,0,0,0,0,25,95,3.80,3,17,14,146,10.43,1,0,0,4,,,55.1,2,3
3,Christian McCaffrey,CAR,RB,24,2,2,0,0,0,0,0,41,156,3.80,4,9,7,67,9.57,0,0,0,4,,,49.8,3,4
4,Russell Wilson,SEA,QB,32,2,2,52,63,610,9,1,8,68,8.50,0,0,0,0,,0,1,0,0,,,66.2,1,5

In [97]:
print(fantasy_pts.shape)
fantasy_pts.head()

(489, 4)

           Player Team Position Week_1
0     Josh Jacobs   LV       RB   31.9
1  Russell Wilson  SEA       QB   31.8
2   Aaron Rodgers   GB       QB   30.8
3      Josh Allen  BUF       QB   28.2
4   Davante Adams   GB       WR   27.6

In [98]:
dataframe = pd.merge(df, fantasy_pts, 'left', on='Player')

In [99]:
dataframe.drop(columns=['Team_y', 'Position_y'], inplace=True)

In [100]:
print(dataframe.shape)
dataframe.head()

(430, 29)

,Player,Team_x,Position_x,Age,Games,GamesStarted,CompletedPasses,PassesAttempted,PassingYds,PassingTDs,Interceptions,RushingAttempts,RushingYds,RushingYdspAtt,RushingTDs,Targeted,Receptions,ReceivingYds,YdspReception,ReceivingTDs,Fumbles,LostFumbles,TtlTDs,TwoPTConversions,TwoPTConversionPasses,FantasyPts,PositionRank,OverallRank,Week_1
0,Aaron Jones,GNB,RB,26,2,2,0,0,0,0,0,34,234,6.88,3,14,8,78,9.75,1,1,0,4,,,59.2,1,1,13.6
1,Calvin Ridley,ATL,WR,26,2,2,0,0,0,0,0,1,-1,-1.00,0,22,16,239,14.94,4,0,0,4,,,55.8,1,2,24.9
2,Alvin Kamara,NOR,RB,25,2,2,0,0,0,0,0,25,95,3.80,3,17,14,146,10.43,1,0,0,4,,,55.1,2,3,18.7
3,Christian McCaffrey,CAR,RB,24,2,2,0,0,0,0,0,41,156,3.80,4,9,7,67,9.57,0,0,0,4,,,49.8,3,4,NaN
4,Russell Wilson,SEA,QB,32,2,2,52,63,610,9,1,8,68,8.50,0,0,0,0,,0,1,0,0,,,66.2,1,5,NaN

In [101]:
dataframe['Week_1'] = dataframe['Week_1'].fillna('0.0')

In [102]:
dataframe.columns

Index(['Player', 'Team_x', 'Position_x', 'Age', 'Games', 'GamesStarted',
       'CompletedPasses', 'PassesAttempted', 'PassingYds', 'PassingTDs',
       'Interceptions', 'RushingAttempts', 'RushingYds', 'RushingYdspAtt',
       'RushingTDs', 'Targeted', 'Receptions', 'ReceivingYds', 'YdspReception',
       'ReceivingTDs', 'Fumbles', 'LostFumbles', 'TtlTDs', 'TwoPTConversions',
       'TwoPTConversionPasses', 'FantasyPts', 'PositionRank', 'OverallRank',
       'Week_1'],
      dtype='object')

In [103]:
integers = ['Age', 'Games', 'GamesStarted', 'CompletedPasses', 'PassesAttempted', 'PassingYds', 'PassingTDs', 
            'Interceptions', 'RushingAttempts', 'RushingYds', 'RushingTDs', 'Targeted', 'Receptions', 
            'ReceivingYds', 'ReceivingTDs', 'Fumbles', 'LostFumbles', 'TtlTDs']

floats = ['RushingYdspAtt', 'YdspReception', 'FantasyPts', 'Week_1']

In [104]:
for integer in integers:
#     print(integer)
    dataframe[integer] = dataframe[integer].map(lambda x: int(x))

In [105]:
two_pts = ['TwoPTConversions', 'TwoPTConversionPasses']

for column in two_pts:
    for i in range(len(dataframe[column])):
        item = dataframe[column][i]
        if item == '':
            dataframe[column][i] = 0
        else:
            dataframe[column][i] = item

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [106]:
for column in two_pts:
    dataframe[column] = dataframe[column].map(lambda x: int(x))

In [107]:
for column in floats:
    for i in range(len(dataframe[column])):
        item = dataframe[column][i]
        if item == '':
            dataframe[column][i] = '0.0'
        else:
            dataframe[column][i] = item

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [108]:
for column in floats:
    for i in range(len(dataframe[column])):
        item = str(dataframe[column][i])
        ones, tenths = item.split('.')
        ones = int(ones)
        tenths = int(tenths) * .1
        dataframe[column][i] = ones + tenths

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [109]:
dataframe.head()

,Player,Team_x,Position_x,Age,Games,GamesStarted,CompletedPasses,PassesAttempted,PassingYds,PassingTDs,Interceptions,RushingAttempts,RushingYds,RushingYdspAtt,RushingTDs,Targeted,Receptions,ReceivingYds,YdspReception,ReceivingTDs,Fumbles,LostFumbles,TtlTDs,TwoPTConversions,TwoPTConversionPasses,FantasyPts,PositionRank,OverallRank,Week_1
0,Aaron Jones,GNB,RB,26,2,2,0,0,0,0,0,34,234,14.80,3,14,8,78,16.50,1,1,0,4,0,0,59.20,1,1,13.60
1,Calvin Ridley,ATL,WR,26,2,2,0,0,0,0,0,1,-1,-1.00,0,22,16,239,23.40,4,0,0,4,0,0,55.80,1,2,24.90
2,Alvin Kamara,NOR,RB,25,2,2,0,0,0,0,0,25,95,11.00,3,17,14,146,14.30,1,0,0,4,0,0,55.10,2,3,18.70
3,Christian McCaffrey,CAR,RB,24,2,2,0,0,0,0,0,41,156,11.00,4,9,7,67,14.70,0,0,0,4,0,0,49.80,3,4,0.00
4,Russell Wilson,SEA,QB,32,2,2,52,63,610,9,1,8,68,13.00,0,0,0,0,0.00,0,1,0,0,0,0,66.20,1,5,0.00

In [110]:
dataframe['Week_2'] = dataframe['FantasyPts'] - dataframe['Week_1']

In [111]:
dataframe.head()

,Player,Team_x,Position_x,Age,Games,GamesStarted,CompletedPasses,PassesAttempted,PassingYds,PassingTDs,Interceptions,RushingAttempts,RushingYds,RushingYdspAtt,RushingTDs,Targeted,Receptions,ReceivingYds,YdspReception,ReceivingTDs,Fumbles,LostFumbles,TtlTDs,TwoPTConversions,TwoPTConversionPasses,FantasyPts,PositionRank,OverallRank,Week_1,Week_2
0,Aaron Jones,GNB,RB,26,2,2,0,0,0,0,0,34,234,14.80,3,14,8,78,16.50,1,1,0,4,0,0,59.20,1,1,13.60,45.60
1,Calvin Ridley,ATL,WR,26,2,2,0,0,0,0,0,1,-1,-1.00,0,22,16,239,23.40,4,0,0,4,0,0,55.80,1,2,24.90,30.90
2,Alvin Kamara,NOR,RB,25,2,2,0,0,0,0,0,25,95,11.00,3,17,14,146,14.30,1,0,0,4,0,0,55.10,2,3,18.70,36.40
3,Christian McCaffrey,CAR,RB,24,2,2,0,0,0,0,0,41,156,11.00,4,9,7,67,14.70,0,0,0,4,0,0,49.80,3,4,0.00,49.80
4,Russell Wilson,SEA,QB,32,2,2,52,63,610,9,1,8,68,13.00,0,0,0,0,0.00,0,1,0,0,0,0,66.20,1,5,0.00,66.20

In [112]:
defense.head()

,Team,Ttl_Pts_Allowed,Ttl_Offense_Plays_Allowed,Yds_p_Play,Ttl_Yds,Rushing_Att,Rushing_Yds,Rushing_Yds_p_Att,Rushing_TDs,Passing_Att,Passing_Yds_p_Att,Completions,Yds_p_Completion,Passing_Yds,Passing_TDs,RZ_Att,RZ_TD,RZ_Percent,Ttl_Turnovers,Interceptions,Fumbles,Sacks
0,Baltimore Ravens,28,125,4.9,610,44,189,4.3,0,75,6.2,46,10.1,464,2,3,2,66.7%,5,2,3,6
1,Los Angeles Chargers,41,137,5.2,709,50,247,4.9,1,83,6,50,9.9,495,2,3,1,33.3%,2,1,1,4
2,Pittsburgh Steelers,43,136,4.5,610,46,133,2.9,0,80,6.9,45,12.3,555,4,7,2,28.6%,4,3,1,10
3,Arizona Cardinals,43,121,5.6,682,48,240,5,1,66,7.3,38,12.7,482,3,7,2,28.6%,2,0,2,7
4,Los Angeles Rams,43,138,5.4,743,53,257,4.8,3,82,6.2,51,10,508,1,7,4,57.1%,3,2,1,3

In [119]:
def_fantasy = fantasy_pts[fantasy_pts['Position'] == 'DST']
def_fantasy.rename(columns={'Player': 'TEAM'}, inplace = True)

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [120]:
defense.rename(columns={'Team': 'TEAM'}, inplace=True)

In [121]:
defense_df = pd.merge(defense, def_fantasy, 'left', on='TEAM')

In [123]:
defense_df.drop(columns=['Team', 'Position'], inplace=True)

In [124]:
defense.head()

,TEAM,Ttl_Pts_Allowed,Ttl_Offense_Plays_Allowed,Yds_p_Play,Ttl_Yds,Rushing_Att,Rushing_Yds,Rushing_Yds_p_Att,Rushing_TDs,Passing_Att,Passing_Yds_p_Att,Completions,Yds_p_Completion,Passing_Yds,Passing_TDs,RZ_Att,RZ_TD,RZ_Percent,Ttl_Turnovers,Interceptions,Fumbles,Sacks
0,Baltimore Ravens,28,125,4.9,610,44,189,4.3,0,75,6.2,46,10.1,464,2,3,2,66.7%,5,2,3,6
1,Los Angeles Chargers,41,137,5.2,709,50,247,4.9,1,83,6,50,9.9,495,2,3,1,33.3%,2,1,1,4
2,Pittsburgh Steelers,43,136,4.5,610,46,133,2.9,0,80,6.9,45,12.3,555,4,7,2,28.6%,4,3,1,10
3,Arizona Cardinals,43,121,5.6,682,48,240,5,1,66,7.3,38,12.7,482,3,7,2,28.6%,2,0,2,7
4,Los Angeles Rams,43,138,5.4,743,53,257,4.8,3,82,6.2,51,10,508,1,7,4,57.1%,3,2,1,3