# Week 8 -- Data Cleaning

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import re
import warnings
warnings.simplefilter('ignore')

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.float_format', lambda x: '%.1f' % x)

## Functions

In [3]:
def check_names(df1, df2):
    """
    This funciton compares the list of names from one dataframe to another and updates where the names do not match 
    so they will merge correctly.
    
    Parameters:
        df1: first dataframe to compare to; this should be the dataframe on the left that you will join with when 
        they merge.
        df2: second dataframe, should be the dataframe on the right for the later merge.
        
    Returns:
        Updated name list for df2 that should match df1.
    """
    
    df_players = list(df1['Player'])    
    for i in range(len(df2['Player'])):
        name = df2['Player'][i]
        split_name = name.split(' ')
        if (split_name[0] + ' ' + split_name[1]) in df_players:
            df2['Player'][i] = split_name[0] + ' ' + split_name[1]
        else:
            df2['Player'][i] = name

In [4]:
def name_update(dataframe, column):
    """
    This function updates a column in a dataframe by stripping any excess spaces surrounding the observation.
    
    Parameters:
        dataframe: the dataframe you want to update.
        column: the column you want to update.
    
    Returns:
        Updated dataframe column.    
    """
    dataframe[column] = dataframe[column].map(lambda x: x.strip())

In [5]:
def update_int_dtype(dataframe, column_list):
    """
    This function updates the data type for a list of columns to integer.
    
    Parameters:
        dataframe: the dataframe you want to update.
        column_list: list of columns to iterate through.
        
    Returns:
        Updated dataframe column data types to integer.   
    """
    for column in column_list:
        dataframe[column] = dataframe[column].map(lambda x: int(x))

In [6]:
def update_float_dtype(dataframe, column_list):
    """
    This function takes a dataframe object and converts it to a float.
    
    Parameters:
        dataframe: the dataframe you want to update.
        column_list: list of columns to iterate through.
    
    Returns:
        Updated dataframe column data types to a float.  
    """
    for column in column_list:
        for i in range(len(dataframe[column])):
            item = dataframe[column][i]
            if item == '':
                dataframe[column][i] = '0.0'
            else:
                dataframe[column][i] = item 
            updated_item = str(dataframe[column][i])
            ones, tenths = updated_item.split('.')
            ones = int(ones)
            tenths = int(tenths) * .1
            dataframe[column][i] = ones + tenths
        dataframe[column] = dataframe[column].map(lambda x: float(x))

In [7]:
def fill_blanks(dataframe, column_list):
    """
    This function fills blank values with 0. This should be used for a column that will be an integer.
    
    Parameters:
        dataframe: the dataframe you want to update.
        column_list: list of columns to iterate through.    
    
    Returns:
        Updated dataframe columns with filled values.      
    """
    for column in column_list:
        for i in range(len(dataframe[column])):
            item = dataframe[column][i]
            if item == '':
                dataframe[column][i] = 0
            else:
                dataframe[column][i] = item

In [8]:
def remove_comma(dataframe, column_list):
    """
    This function removes the comma from a value in a column.
    
    Parameters:
        dataframe: the dataframe you want to update.
        column_list: list of columns to iterate through.
        
    Returns:
        Updated dataframe columns less any commas that might appear.    
    """  
    for column in column_list:
        for i in range(len(dataframe[column])):
            item = dataframe[column][i]
            if len(item.split(',')) > 1:
                one, two = item.split(',')
                dataframe[column][i] = one + two

In [9]:
def adjust_float(dataframe, column_list):
    """
    This function adjusts values in a column to be workable with the 'update_float_dtype' function.
    
    Parameters:
        dataframe: the dataframe you want to update.
        column_list: list of columns to iterate through.
        
    Returns:
        Updated dataframe columns with objects with a decimal point value behind it.    
    """
    for column in column_list:
        for i in range(len(dataframe[column])):
            item = dataframe[column][i]
            if len(item) < 3:
                dataframe[column][i] = item + '.0'
            else:
                dataframe[column][i] = item

In [10]:
def update_percent(dataframe, column):
    """
    This function updates a column with a percent sign so it can be manipulated into a float with the 
    'update_float_dtype' function.
    
    Parameters:
       dataframe: the dataframe you want to update.
        column_list: list of columns to iterate through.
        
    Returns:
        Updated dataframe column with no percent sign and added decimal point where needed.     
    """
    dataframe[column] = dataframe[column].map(lambda x: x.strip('%'))
    for i in range(len(dataframe[column])):
        item = dataframe[column][i]
        if len(item) < 3:
            dataframe[column][i] = item + '.0'
        else:
            dataframe[column][i] = item

In [11]:
def replace_dash(dataframe, column_list, dash):
    """
    This function replaces a - in a dataframe so datatypes can then be updated.
    
    Parameters:
       dataframe: the dataframe you want to update.
        column_list: list of columns to iterate through.
        dash: set to a value in a specific column in the dataframe.
        
    Returns:
        Updated dataframe column with no percent sign and added decimal point where needed. 
    """
    for column in column_list:
        for i in range(len(dataframe[column])):
            item = dataframe[column][i]
            if item == dash:
                dataframe[column][i] = '0'
            else:
                dataframe[column][i] = item

## Read in Collected Data

In [12]:
df = pd.read_pickle('player_stats')
fantasy_pts = pd.read_pickle('fantasy_weeks')
defense = pd.read_pickle('defense_data')
kicking = pd.read_pickle('kicking_data')

## Merge Last Week Fantasy Pts with this Week

In [13]:
no_games = 8

In [14]:
lastwk = pd.read_pickle('fantweeks_1_' + str(no_games - 1))
lastwk.head()

,Player,Team,Position,TTL,Week_1,Week_2,Week_3,Week_4,Week_5,Week_6,Week_7
0,Kyler Murray,ARI,QB,202.5,27.3,33.1,24.7,23.1,27.3,28.9,38.1
1,Russell Wilson,SEA,QB,183.3,31.8,34.4,36.8,21.9,25.5,NaN,32.9
2,Patrick Mahomes II,KC,QB,171.4,20.4,27.5,40.0,20.2,30.7,20.6,12.0
3,Josh Allen,BUF,QB,171.1,28.2,34.5,32.2,25.4,18.3,16.1,16.4
4,Deshaun Watson,HOU,QB,159.6,21.8,15.7,18.1,20.9,26.9,32.0,24.2

In [15]:
fantasy_pts = pd.merge(fantasy_pts, lastwk, 'left', on='Player')
fantasy_pts.head()

,Player,Team_x,Position_x,TTL_x,Week_8,Team_y,Position_y,TTL_y,Week_1,Week_2,Week_3,Week_4,Week_5,Week_6,Week_7
0,Russell Wilson,SEA,QB,212.0,28.7,SEA,QB,183.3,31.8,34.4,36.8,21.9,25.5,NaN,32.9
1,Patrick Mahomes II,KC,QB,208.0,36.6,KC,QB,171.4,20.4,27.5,40.0,20.2,30.7,20.6,12.0
2,Kyler Murray,ARI,QB,202.5,NaN,ARI,QB,202.5,27.3,33.1,24.7,23.1,27.3,28.9,38.1
3,Josh Allen,BUF,QB,184.6,13.5,BUF,QB,171.1,28.2,34.5,32.2,25.4,18.3,16.1,16.4
4,Tom Brady,TB,QB,174.3,19.1,TB,QB,155.2,22.5,9.7,23.9,33.5,14.1,14.6,36.9

In [16]:
fantasy_pts.drop(columns=['Team_y', 'Position_y', 'TTL_y'], inplace=True)
fantasy_pts.rename(columns = {'Team_x': 'Team', 'Position_x': 'Position', 'TTL_x': 'TTL'}, inplace = True)
fantasy_pts.columns

Index(['Player', 'Team', 'Position', 'TTL', 'Week_8', 'Week_1', 'Week_2',
       'Week_3', 'Week_4', 'Week_5', 'Week_6', 'Week_7'],
      dtype='object')

In [17]:
fantasy_pts = fantasy_pts[['Player', 'Team', 'Position', 'TTL', 'Week_1', 'Week_2', 'Week_3', 'Week_4', 'Week_5', 
                           'Week_6', 'Week_7', 'Week_8']]
fantasy_pts.head()

,Player,Team,Position,TTL,Week_1,Week_2,Week_3,Week_4,Week_5,Week_6,Week_7,Week_8
0,Russell Wilson,SEA,QB,212.0,31.8,34.4,36.8,21.9,25.5,NaN,32.9,28.7
1,Patrick Mahomes II,KC,QB,208.0,20.4,27.5,40.0,20.2,30.7,20.6,12.0,36.6
2,Kyler Murray,ARI,QB,202.5,27.3,33.1,24.7,23.1,27.3,28.9,38.1,NaN
3,Josh Allen,BUF,QB,184.6,28.2,34.5,32.2,25.4,18.3,16.1,16.4,13.5
4,Tom Brady,TB,QB,174.3,22.5,9.7,23.9,33.5,14.1,14.6,36.9,19.1

In [18]:
print(fantasy_pts.shape)

(642, 12)

### Pickle Combined DataFrame for Next Week

In [20]:
fantasy_pts.to_pickle('fantweeks_1_' + str(no_games))

## Merge Offensive Players & Weekly Fantasy Pts

In [21]:
print(df.shape)
df.head()

(531, 28)

,Player,Team,Position,Age,Games,GamesStarted,CompletedPasses,PassesAttempted,PassingYds,PassingTDs,Interceptions,RushingAttempts,RushingYds,RushingYdspAtt,RushingTDs,Targeted,Receptions,ReceivingYds,YdspReception,ReceivingTDs,Fumbles,LostFumbles,TtlTDs,TwoPTConversions,TwoPTConversionPasses,FDFantasyPts,PositionRank,OverallRank
0,Kyler Murray,ARI,QB,23,7,7,169,253,1847,13,7,65,437,6.72,7,0,0,0,,0,2,1,7,,,202.6,1,1
1,Alvin Kamara,NOR,RB,25,6,5,0,0,0,0,0,75,364,4.85,4,53,46,460,10.00,3,0,0,7,,,147.4,1,2
2,Derrick Henry,TEN,RB,26,6,6,0,0,0,0,0,143,663,4.64,7,17,10,81,8.10,0,0,0,7,,,121.4,2,3
3,Russell Wilson,SEA,QB,32,6,6,156,219,1890,22,6,29,237,8.17,0,0,0,0,,0,1,0,0,,1,183.3,2,4
4,Calvin Ridley,ATL,WR,26,7,7,0,0,0,0,0,3,14,4.67,0,64,40,615,15.38,6,0,0,6,1,,120.9,1,5

In [22]:
print(fantasy_pts.shape)
fantasy_pts.head()

(631, 11)

,Player,Team,Position,TTL,Week_1,Week_2,Week_3,Week_4,Week_5,Week_6,Week_7
0,Kyler Murray,ARI,QB,202.5,27.3,33.1,24.7,23.1,27.3,28.9,38.1
1,Russell Wilson,SEA,QB,183.3,31.8,34.4,36.8,21.9,25.5,NaN,32.9
2,Patrick Mahomes II,KC,QB,171.4,20.4,27.5,40.0,20.2,30.7,20.6,12.0
3,Josh Allen,BUF,QB,171.1,28.2,34.5,32.2,25.4,18.3,16.1,16.4
4,Deshaun Watson,HOU,QB,159.6,21.8,15.7,18.1,20.9,26.9,32.0,24.2

In [23]:
check_names(df, fantasy_pts)

In [24]:
name_update(df, 'Player')
name_update(fantasy_pts, 'Player')

In [25]:
offense = pd.merge(df, fantasy_pts, 'left', on='Player')

In [26]:
offense.drop(columns = ['Team_y', 'Position_y'], inplace = True)
offense.rename(columns = {'Team_x': 'Team', 'Position_x': 'Position'}, inplace = True)

In [27]:
print(offense.shape)
offense.head(10)

(531, 36)

,Player,Team,Position,Age,Games,GamesStarted,CompletedPasses,PassesAttempted,PassingYds,PassingTDs,Interceptions,RushingAttempts,RushingYds,RushingYdspAtt,RushingTDs,Targeted,Receptions,ReceivingYds,YdspReception,ReceivingTDs,Fumbles,LostFumbles,TtlTDs,TwoPTConversions,TwoPTConversionPasses,FDFantasyPts,PositionRank,OverallRank,TTL,Week_1,Week_2,Week_3,Week_4,Week_5,Week_6,Week_7
0,Kyler Murray,ARI,QB,23,7,7,169,253,1847,13,7,65,437,6.72,7,0,0,0,,0,2,1,7,,,202.6,1,1,202.5,27.3,33.1,24.7,23.1,27.3,28.9,38.1
1,Alvin Kamara,NOR,RB,25,6,5,0,0,0,0,0,75,364,4.85,4,53,46,460,10.00,3,0,0,7,,,147.4,1,2,124.4,18.7,29.4,31.7,17.9,11.9,NaN,14.8
2,Derrick Henry,TEN,RB,26,6,6,0,0,0,0,0,143,663,4.64,7,17,10,81,8.10,0,0,0,7,,,121.4,2,3,116.4,13.1,8.4,25.0,NaN,18.3,38.4,13.2
3,Russell Wilson,SEA,QB,32,6,6,156,219,1890,22,6,29,237,8.17,0,0,0,0,,0,1,0,0,,1,183.3,2,4,183.3,31.8,34.4,36.8,21.9,25.5,NaN,32.9
4,Calvin Ridley,ATL,WR,26,7,7,0,0,0,0,0,3,14,4.67,0,64,40,615,15.38,6,0,0,6,1,,120.9,1,5,100.9,24.9,22.9,11.7,0.0,13.6,12.9,14.9
5,James Robinson,JAX,RB,22,7,7,0,0,0,0,0,107,481,4.50,4,32,27,225,8.33,2,2,1,6,1,,120.1,3,6,106.6,9.0,18.0,24.9,10.7,5.0,11.3,27.7
6,Tyler Lockett,SEA,WR,28,6,6,0,0,0,0,0,0,0,,0,58,45,542,12.04,7,0,0,7,,,118.7,2,7,96.2,9.2,12.7,28.0,3.9,4.4,NaN,38.0
7,Patrick Mahomes,KAN,QB,25,7,7,159,242,1899,16,1,34,165,4.85,2,0,0,0,,0,1,0,2,,2,171.5,3,8,171.4,20.4,27.5,40.0,20.2,30.7,20.6,12.0
8,Travis Kelce,KAN,TE,31,7,7,0,0,0,0,0,0,0,,0,56,40,501,12.53,5,1,1,5,,,98.1,1,9,78.1,11.0,15.0,8.7,7.0,16.8,16.5,3.1
9,Dalvin Cook,MIN,RB,25,5,5,0,0,0,0,0,92,489,5.32,7,16,12,64,5.33,0,1,1,7,3,,107.3,4,10,101.3,20.8,15.1,23.9,26.6,14.9,NaN,NaN

In [28]:
offense.isnull().sum()

Player                     0
Team                       0
Position                   0
Age                        0
Games                      0
GamesStarted               0
CompletedPasses            0
PassesAttempted            0
PassingYds                 0
PassingTDs                 0
Interceptions              0
RushingAttempts            0
RushingYds                 0
RushingYdspAtt             0
RushingTDs                 0
Targeted                   0
Receptions                 0
ReceivingYds               0
YdspReception              0
ReceivingTDs               0
Fumbles                    0
LostFumbles                0
TtlTDs                     0
TwoPTConversions           0
TwoPTConversionPasses      0
FDFantasyPts               0
PositionRank               0
OverallRank                0
TTL                        9
Week_1                   124
Week_2                   126
Week_3                   127
Week_4                   153
Week_5                   182
Week_6                   179
Week_7                   183
dtype: int64

In [29]:
offense.fillna('0.0', inplace = True)

In [30]:
off_integers = ['Age', 'Games', 'GamesStarted', 'CompletedPasses', 'PassesAttempted', 'PassingYds', 'PassingTDs', 
            'Interceptions', 'RushingAttempts', 'RushingYds', 'RushingTDs', 'Targeted', 'Receptions', 
            'ReceivingYds', 'ReceivingTDs', 'Fumbles', 'LostFumbles', 'TtlTDs']

off_floats = ['RushingYdspAtt', 'YdspReception', 'FDFantasyPts', 'TTL','Week_1', 'Week_2', 'Week_3', 'Week_4', 
              'Week_5', 'Week_6', 'Week_7']

In [31]:
update_int_dtype(offense, off_integers)

In [32]:
two_pts = ['TwoPTConversions', 'TwoPTConversionPasses']
fill_blanks(offense, two_pts)
update_int_dtype(offense, two_pts)

In [33]:
update_float_dtype(offense, off_floats)

In [34]:
offense.head()

,Player,Team,Position,Age,Games,GamesStarted,CompletedPasses,PassesAttempted,PassingYds,PassingTDs,Interceptions,RushingAttempts,RushingYds,RushingYdspAtt,RushingTDs,Targeted,Receptions,ReceivingYds,YdspReception,ReceivingTDs,Fumbles,LostFumbles,TtlTDs,TwoPTConversions,TwoPTConversionPasses,FDFantasyPts,PositionRank,OverallRank,TTL,Week_1,Week_2,Week_3,Week_4,Week_5,Week_6,Week_7
0,Kyler Murray,ARI,QB,23,7,7,169,253,1847,13,7,65,437,13.2,7,0,0,0,0.0,0,2,1,7,0,0,202.6,1,1,202.5,27.3,33.1,24.7,23.1,27.3,28.9,38.1
1,Alvin Kamara,NOR,RB,25,6,5,0,0,0,0,0,75,364,12.5,4,53,46,460,10.0,3,0,0,7,0,0,147.4,1,2,124.4,18.7,29.4,31.7,17.9,11.9,0.0,14.8
2,Derrick Henry,TEN,RB,26,6,6,0,0,0,0,0,143,663,10.4,7,17,10,81,9.0,0,0,0,7,0,0,121.4,2,3,116.4,13.1,8.4,25.0,0.0,18.3,38.4,13.2
3,Russell Wilson,SEA,QB,32,6,6,156,219,1890,22,6,29,237,9.7,0,0,0,0,0.0,0,1,0,0,0,1,183.3,2,4,183.3,31.8,34.4,36.8,21.9,25.5,0.0,32.9
4,Calvin Ridley,ATL,WR,26,7,7,0,0,0,0,0,3,14,10.7,0,64,40,615,18.8,6,0,0,6,1,0,120.9,1,5,100.9,24.9,22.9,11.7,0.0,13.6,12.9,14.9

In [35]:
team_dict = {'LAR': 'Los Angeles Rams', 
             'SEA': 'Seattle Seahawks', 
             'BAL': 'Baltimore Ravens', 
             'KAN': 'Kansas City Chiefs', 
             'JAX': 'Jacksonville Jaguars', 
             'DET': 'Detroit Lions', 
             'PIT': 'Pittsburgh Steelers', 
             'MIN': 'Minnesota Vikings', 
             'CHI': 'Chicago Bears', 
             'ATL': 'Atlanta Falcons', 
             'BUF': 'Buffalo Bills', 
             'GNB': 'Green Bay Packers', 
             'MIA': 'Miami Dolphins', 
             'CLE': 'Cleveland Browns', 
             'CAR': 'Carolina Panthers', 
             'DAL': 'Dallas Cowboys', 
             'ARI': 'Arizona Cardinals', 
             'HOU': 'Houston Texans', 
             'NYG': 'New York Giants', 
             'WAS': 'Washington Football Team', 
             'IND': 'Indianapolis Colts', 
             'LVR': 'Las Vegas Raiders', 
             'DEN': 'Denver Broncos', 
             'TEN': 'Tennessee Titans', 
             'NWE': 'New England Patriots', 
             'CIN': 'Cincinnati Bengals', 
             'NYJ': 'New York Jets', 
             'LAC': 'Los Angeles Chargers', 
             'PHI': 'Philadelphia Eagles', 
             'TAM': 'Tampa Bay Buccaneers', 
             'NOR': 'New Orleans Saints', 
             'SFO': 'San Francisco 49ers'}

team_names = pd.DataFrame()
team_names['Team'] = list(team_dict.keys())
team_names['Long_Name'] = list(team_dict.values())
team_names.head()

  Team             Long_Name
0  LAR      Los Angeles Rams
1  SEA      Seattle Seahawks
2  BAL      Baltimore Ravens
3  KAN    Kansas City Chiefs
4  JAX  Jacksonville Jaguars

In [36]:
offense.dtypes

Player                    object
Team                      object
Position                  object
Age                        int64
Games                      int64
GamesStarted               int64
CompletedPasses            int64
PassesAttempted            int64
PassingYds                 int64
PassingTDs                 int64
Interceptions              int64
RushingAttempts            int64
RushingYds                 int64
RushingYdspAtt           float64
RushingTDs                 int64
Targeted                   int64
Receptions                 int64
ReceivingYds               int64
YdspReception            float64
ReceivingTDs               int64
Fumbles                    int64
LostFumbles                int64
TtlTDs                     int64
TwoPTConversions           int64
TwoPTConversionPasses      int64
FDFantasyPts             float64
PositionRank              object
OverallRank               object
TTL                      float64
Week_1                   float64
Week_2                   float64
Week_3                   float64
Week_4                   float64
Week_5                   float64
Week_6                   float64
Week_7                   float64
dtype: object

## Defense Stats

In [37]:
defense.head()

,Team,GP,Ttl_Pts_Allowed,Ttl_Offense_Plays_Allowed,Yds_p_Play,Ttl_Yds,Rushing_Att,Rushing_Yds,Rushing_Yds_p_Att,Rushing_TDs,Passing_Att,Passing_Yds_p_Att,Completions,Yds_p_Completion,Passing_Yds,Passing_TDs,RZ_Att,RZ_TD,RZ_Percent,Ttl_Turnovers,Interceptions,Fumbles,Sacks
0,Baltimore Ravens,6,104,397,5.1,"2,039",143,654,4.6,4,232,5.5,149,10.5,"1,385",8,13,10,76.9%,11,3,8,22
1,Miami Dolphins,6,113,375,5.8,"2,161",149,745,5,8,209,6.3,130,12,"1,416",7,18,13,72.2%,9,5,4,17
2,Indianapolis Colts,6,115,358,4.8,"1,728",151,530,3.5,4,194,5.8,120,10.7,"1,198",7,15,10,66.7%,10,10,0,13
3,Pittsburgh Steelers,6,118,350,4.9,"1,718",122,413,3.4,4,202,5.7,118,12.5,"1,305",11,15,10,66.7%,9,8,1,26
4,Los Angeles Rams,7,124,445,4.9,"2,190",167,703,4.2,5,254,5.3,167,9.9,"1,487",8,21,12,57.1%,8,6,2,24

In [38]:
def_fantasy = fantasy_pts[fantasy_pts['Position'] == 'DST']

In [39]:
defense_df = pd.merge(defense, def_fantasy, 'left', left_on = 'Team', right_on = 'Player')

In [40]:
defense_df.head()

,Team_x,GP,Ttl_Pts_Allowed,Ttl_Offense_Plays_Allowed,Yds_p_Play,Ttl_Yds,Rushing_Att,Rushing_Yds,Rushing_Yds_p_Att,Rushing_TDs,Passing_Att,Passing_Yds_p_Att,Completions,Yds_p_Completion,Passing_Yds,Passing_TDs,RZ_Att,RZ_TD,RZ_Percent,Ttl_Turnovers,Interceptions,Fumbles,Sacks,Player,Team_y,Position,TTL,Week_1,Week_2,Week_3,Week_4,Week_5,Week_6,Week_7
0,Baltimore Ravens,6,104,397,5.1,"2,039",143,654,4.6,4,232,5.5,149,10.5,"1,385",8,13,10,76.9%,11,3,8,22,Baltimore Ravens,BAL,DST,70.0,15.0,15.0,1.0,6.0,26.0,7.0,NaN
1,Miami Dolphins,6,113,375,5.8,"2,161",149,745,5,8,209,6.3,130,12,"1,416",7,18,13,72.2%,9,5,4,17,Miami Dolphins,MIA,DST,46.0,2.0,2.0,12.0,3.0,12.0,15.0,NaN
2,Indianapolis Colts,6,115,358,4.8,"1,728",151,530,3.5,4,194,5.8,120,10.7,"1,198",7,15,10,66.7%,10,10,0,13,Indianapolis Colts,IND,DST,61.0,4.0,15.0,26.0,7.0,5.0,4.0,NaN
3,Pittsburgh Steelers,6,118,350,4.9,"1,718",122,413,3.4,4,202,5.7,118,12.5,"1,305",11,15,10,66.7%,9,8,1,26,Pittsburgh Steelers,PIT,DST,56.0,8.0,13.0,7.0,10.0,8.0,18.0,2.0
4,Los Angeles Rams,7,124,445,4.9,"2,190",167,703,4.2,5,254,5.3,167,9.9,"1,487",8,21,12,57.1%,8,6,2,24,Los Angeles Rams,LAR,DST,53.0,4.0,7.0,4.0,11.0,12.0,0.0,15.0

In [41]:
defense_df.drop(columns=['Player', 'Team_y', 'Position'], inplace=True)
defense_df.rename(columns={'Team_x': 'Team'}, inplace=True)

In [42]:
defense_df.head()

,Team,GP,Ttl_Pts_Allowed,Ttl_Offense_Plays_Allowed,Yds_p_Play,Ttl_Yds,Rushing_Att,Rushing_Yds,Rushing_Yds_p_Att,Rushing_TDs,Passing_Att,Passing_Yds_p_Att,Completions,Yds_p_Completion,Passing_Yds,Passing_TDs,RZ_Att,RZ_TD,RZ_Percent,Ttl_Turnovers,Interceptions,Fumbles,Sacks,TTL,Week_1,Week_2,Week_3,Week_4,Week_5,Week_6,Week_7
0,Baltimore Ravens,6,104,397,5.1,"2,039",143,654,4.6,4,232,5.5,149,10.5,"1,385",8,13,10,76.9%,11,3,8,22,70.0,15.0,15.0,1.0,6.0,26.0,7.0,NaN
1,Miami Dolphins,6,113,375,5.8,"2,161",149,745,5,8,209,6.3,130,12,"1,416",7,18,13,72.2%,9,5,4,17,46.0,2.0,2.0,12.0,3.0,12.0,15.0,NaN
2,Indianapolis Colts,6,115,358,4.8,"1,728",151,530,3.5,4,194,5.8,120,10.7,"1,198",7,15,10,66.7%,10,10,0,13,61.0,4.0,15.0,26.0,7.0,5.0,4.0,NaN
3,Pittsburgh Steelers,6,118,350,4.9,"1,718",122,413,3.4,4,202,5.7,118,12.5,"1,305",11,15,10,66.7%,9,8,1,26,56.0,8.0,13.0,7.0,10.0,8.0,18.0,2.0
4,Los Angeles Rams,7,124,445,4.9,"2,190",167,703,4.2,5,254,5.3,167,9.9,"1,487",8,21,12,57.1%,8,6,2,24,53.0,4.0,7.0,4.0,11.0,12.0,0.0,15.0

In [43]:
defense_df.isnull().sum()

Team                         0
GP                           0
Ttl_Pts_Allowed              0
Ttl_Offense_Plays_Allowed    0
Yds_p_Play                   0
Ttl_Yds                      0
Rushing_Att                  0
Rushing_Yds                  0
Rushing_Yds_p_Att            0
Rushing_TDs                  0
Passing_Att                  0
Passing_Yds_p_Att            0
Completions                  0
Yds_p_Completion             0
Passing_Yds                  0
Passing_TDs                  0
RZ_Att                       0
RZ_TD                        0
RZ_Percent                   0
Ttl_Turnovers                0
Interceptions                0
Fumbles                      0
Sacks                        0
TTL                          0
Week_1                       0
Week_2                       0
Week_3                       0
Week_4                       0
Week_5                       4
Week_6                       4
Week_7                       4
dtype: int64

In [44]:
defense_df

,Team,GP,Ttl_Pts_Allowed,Ttl_Offense_Plays_Allowed,Yds_p_Play,Ttl_Yds,Rushing_Att,Rushing_Yds,Rushing_Yds_p_Att,Rushing_TDs,Passing_Att,Passing_Yds_p_Att,Completions,Yds_p_Completion,Passing_Yds,Passing_TDs,RZ_Att,RZ_TD,RZ_Percent,Ttl_Turnovers,Interceptions,Fumbles,Sacks,TTL,Week_1,Week_2,Week_3,Week_4,Week_5,Week_6,Week_7
0,Baltimore Ravens,6,104,397,5.1,"2,039",143,654,4.6,4,232,5.5,149,10.5,"1,385",8,13,10,76.9%,11,3,8,22,70.0,15.0,15.0,1.0,6.0,26.0,7.0,NaN
1,Miami Dolphins,6,113,375,5.8,"2,161",149,745,5,8,209,6.3,130,12,"1,416",7,18,13,72.2%,9,5,4,17,46.0,2.0,2.0,12.0,3.0,12.0,15.0,NaN
2,Indianapolis Colts,6,115,358,4.8,"1,728",151,530,3.5,4,194,5.8,120,10.7,"1,198",7,15,10,66.7%,10,10,0,13,61.0,4.0,15.0,26.0,7.0,5.0,4.0,NaN
3,Pittsburgh Steelers,6,118,350,4.9,"1,718",122,413,3.4,4,202,5.7,118,12.5,"1,305",11,15,10,66.7%,9,8,1,26,56.0,8.0,13.0,7.0,10.0,8.0,18.0,2.0
4,Los Angeles Rams,7,124,445,4.9,"2,190",167,703,4.2,5,254,5.3,167,9.9,"1,487",8,21,12,57.1%,8,6,2,24,53.0,4.0,7.0,4.0,11.0,12.0,0.0,15.0
5,San Francisco 49ers,7,136,417,5.2,"2,167",182,744,4.1,4,223,6.1,138,10.8,"1,423",8,15,7,46.7%,10,8,2,12,45.0,4.0,5.0,12.0,6.0,-2.0,3.0,17.0
6,Chicago Bears,7,140,461,5.2,"2,394",193,839,4.3,6,252,5.8,148,11.2,"1,555",6,26,11,42.3%,9,5,4,16,47.0,3.0,12.0,4.0,2.0,6.0,11.0,9.0
7,Tampa Bay Buccaneers,7,142,429,4.8,"2,039",154,462,3,5,250,5.7,167,10.6,"1,577",9,19,11,57.9%,12,9,3,25,67.0,0.0,14.0,16.0,6.0,6.0,19.0,6.0
8,New England Patriots,6,143,355,6.1,"2,162",178,793,4.5,5,168,7.7,114,12.6,"1,369",9,19,11,57.9%,12,8,4,9,47.0,11.0,6.0,15.0,4.0,NaN,7.0,4.0
9,Kansas City Chiefs,7,143,457,5.5,"2,531",213,"1,049",4.9,7,228,6.1,137,11.5,"1,482",9,20,14,70%,13,9,4,16,59.0,7.0,5.0,7.0,20.0,-1.0,3.0,18.0
10,Arizona Cardinals,7,146,485,5.5,"2,649",195,918,4.7,4,271,6,171,11,"1,731",12,27,12,44.4%,10,6,4,19,47.0,4.0,9.0,4.0,1.0,7.0,15.0,7.0
11,Tennessee Titans,6,153,405,6,"2,411",160,779,4.9,5,238,6.7,157,10.8,"1,632",15,21,17,81%,12,9,3,7,27.0,3.0,5.0,7.0,10.0,8.0,-2.0,6.0
12,Denver Broncos,6,153,388,5.2,"2,035",152,654,4.3,5,218,5.9,144,10.5,"1,381",8,21,10,47.6%,6,3,3,18,30.0,2.0,5.0,1.0,6.0,NaN,14.0,2.0
13,Los Angeles Chargers,6,156,395,5.6,"2,197",150,678,4.5,4,232,6.2,149,10.7,"1,519",11,19,10,52.6%,5,3,2,13,29.0,11.0,1.0,2.0,4.0,3.0,NaN,8.0
14,Green Bay Packers,6,159,360,5.8,"2,102",145,660,4.6,7,200,6.7,142,10.9,"1,442",11,21,15,71.4%,4,2,2,15,30.0,5.0,12.0,3.0,5.0,NaN,-1.0,6.0
15,Detroit Lions,6,165,394,5.8,"2,283",174,791,4.5,9,212,6.8,136,11.6,"1,492",11,25,17,68%,7,5,2,8,15.0,1.0,-3.0,7.0,0.0,NaN,6.0,4.0
16,Washington Football Team,7,165,424,5.1,"2,164",205,863,4.2,8,197,5.9,125,11.6,"1,301",10,21,11,52.4%,9,8,1,22,47.0,15.0,4.0,1.0,4.0,2.0,4.0,17.0
17,Carolina Panthers,7,168,441,5.6,"2,458",177,868,4.9,10,258,6,178,9.2,"1,590",9,23,15,65.2%,10,4,6,6,26.0,-1.0,3.0,11.0,3.0,5.0,2.0,3.0
18,Seattle Seahawks,6,172,459,6.3,"2,875",163,663,4.1,7,287,7.5,194,11.6,"2,212",11,22,14,63.6%,12,8,4,9,30.0,6.0,3.0,9.0,5.0,7.0,NaN,0.0
19,New Orleans Saints,6,174,368,5.4,"1,970",155,538,3.5,5,199,6.7,132,11.6,"1,432",17,22,19,86.4%,5,3,2,14,24.0,15.0,4.0,-3.0,4.0,3.0,NaN,1.0
20,New York Giants,7,174,463,5.4,"2,494",199,735,3.7,7,246,6.7,169,11.2,"1,759",12,30,16,53.3%,9,5,4,18,46.0,4.0,9.0,-2.0,5.0,11.0,14.0,5.0
21,Buffalo Bills,7,178,446,5.6,"2,515",194,887,4.6,9,235,6.5,161,10.7,"1,628",12,29,19,65.5%,9,4,5,17,34.0,8.0,2.0,5.0,6.0,-4.0,3.0,14.0
22,Minnesota Vikings,6,192,409,6.1,"2,482",185,762,4.1,5,211,7.7,144,12.4,"1,720",14,23,12,52.2%,5,3,2,13,13.0,-4.0,3.0,2.0,5.0,6.0,0.0,NaN
23,Cincinnati Bengals,7,194,451,6.1,"2,766",191,936,4.9,6,250,7,159,11.8,"1,830",15,25,18,72%,8,7,1,10,18.0,3.0,-2.0,7.0,5.0,3.0,4.0,-2.0
24,Philadelphia Eagles,7,196,466,5.3,"2,456",204,913,4.5,11,238,5.9,163,10.5,"1,543",13,24,18,75%,8,3,5,24,38.0,3.0,-1.0,8.0,18.0,-1.0,2.0,9.0
25,New York Jets,7,203,455,5.9,"2,695",206,879,4.3,9,238,7.3,170,11,"1,816",11,29,15,51.7%,10,7,3,11,32.0,7.0,4.0,0.0,8.0,2.0,6.0,5.0
26,Atlanta Falcons,7,207,449,6.6,"2,981",163,647,4,6,276,8.2,197,12.2,"2,334",19,26,19,73.1%,8,5,3,10,16.0,-1.0,3.0,5.0,0.0,0.0,7.0,2.0
27,Houston Texans,7,217,477,6.1,"2,923",223,"1,161",5.2,9,238,6.9,165,11.3,"1,762",17,32,20,62.5%,4,1,3,16,14.0,0.0,4.0,1.0,2.0,9.0,2.0,-4.0
28,Cleveland Browns,7,221,474,5.6,"2,662",170,645,3.8,9,286,6.6,192,11.2,"2,017",16,31,20,64.5%,14,7,7,18,44.0,0.0,4.0,14.0,5.0,13.0,1.0,7.0
29,Jacksonville Jaguars,7,222,461,6.4,"2,971",219,998,4.6,10,236,8.2,169,11.8,"1,973",15,31,18,58.1%,6,6,0,6,22.0,6.0,0.0,0.0,2.0,4.0,1.0,9.0
30,Dallas Cowboys,7,243,475,6,"2,857",241,"1,248",5.2,11,221,6.9,135,12.4,"1,609",16,28,18,64.3%,3,1,2,13,7.0,4.0,-3.0,0.0,-2.0,9.0,-3.0,2.0
31,Las Vegas Raiders,6,244,385,6.3,"2,422",156,719,4.6,12,222,7.4,144,12.1,"1,703",11,28,20,71.4%,3,3,0,7,5.0,0.0,2.0,3.0,0.0,4.0,NaN,-4.0

In [45]:
defense_df.fillna('0.0', inplace=True)

In [46]:
def_int = ['GP', 'Ttl_Pts_Allowed', 'Ttl_Offense_Plays_Allowed', 'Ttl_Yds', 'Rushing_Att', 'Rushing_Yds', 
           'Rushing_TDs', 'Passing_Att', 'Completions', 'Passing_Yds', 'Passing_TDs', 'RZ_Att', 'RZ_TD', 
           'Ttl_Turnovers', 'Interceptions', 'Fumbles', 'Sacks']

def_floats = ['Yds_p_Play', 'Rushing_Yds_p_Att', 'Passing_Yds_p_Att', 'Yds_p_Completion', 'TTL', 'Week_1', 
              'Week_2', 'Week_3', 'Week_4', 'Week_5', 'Week_6', 'Week_7']

In [47]:
remove_comma(defense_df, def_int)

In [48]:
update_int_dtype(defense_df, def_int)

In [49]:
adjust_float(defense_df, def_floats)

In [50]:
update_float_dtype(defense_df, def_floats)

In [51]:
update_percent(defense_df, 'RZ_Percent')

In [52]:
rz = ['RZ_Percent']
update_float_dtype(defense_df, rz)

In [53]:
defense_df.head()

,Team,GP,Ttl_Pts_Allowed,Ttl_Offense_Plays_Allowed,Yds_p_Play,Ttl_Yds,Rushing_Att,Rushing_Yds,Rushing_Yds_p_Att,Rushing_TDs,Passing_Att,Passing_Yds_p_Att,Completions,Yds_p_Completion,Passing_Yds,Passing_TDs,RZ_Att,RZ_TD,RZ_Percent,Ttl_Turnovers,Interceptions,Fumbles,Sacks,TTL,Week_1,Week_2,Week_3,Week_4,Week_5,Week_6,Week_7
0,Baltimore Ravens,6,104,397,5.1,2039,143,654,4.6,4,232,5.5,149,10.5,1385,8,13,10,76.9,11,3,8,22,70.0,15.0,15.0,1.0,6.0,26.0,7.0,0.0
1,Miami Dolphins,6,113,375,5.8,2161,149,745,5.0,8,209,6.3,130,12.0,1416,7,18,13,72.2,9,5,4,17,46.0,2.0,2.0,12.0,3.0,12.0,15.0,0.0
2,Indianapolis Colts,6,115,358,4.8,1728,151,530,3.5,4,194,5.8,120,10.7,1198,7,15,10,66.7,10,10,0,13,61.0,4.0,15.0,26.0,7.0,5.0,4.0,0.0
3,Pittsburgh Steelers,6,118,350,4.9,1718,122,413,3.4,4,202,5.7,118,12.5,1305,11,15,10,66.7,9,8,1,26,56.0,8.0,13.0,7.0,10.0,8.0,18.0,2.0
4,Los Angeles Rams,7,124,445,4.9,2190,167,703,4.2,5,254,5.3,167,9.9,1487,8,21,12,57.1,8,6,2,24,53.0,4.0,7.0,4.0,11.0,12.0,0.0,15.0

In [54]:
defense_df.dtypes

Team                          object
GP                             int64
Ttl_Pts_Allowed                int64
Ttl_Offense_Plays_Allowed      int64
Yds_p_Play                   float64
Ttl_Yds                        int64
Rushing_Att                    int64
Rushing_Yds                    int64
Rushing_Yds_p_Att            float64
Rushing_TDs                    int64
Passing_Att                    int64
Passing_Yds_p_Att            float64
Completions                    int64
Yds_p_Completion             float64
Passing_Yds                    int64
Passing_TDs                    int64
RZ_Att                         int64
RZ_TD                          int64
RZ_Percent                   float64
Ttl_Turnovers                  int64
Interceptions                  int64
Fumbles                        int64
Sacks                          int64
TTL                          float64
Week_1                       float64
Week_2                       float64
Week_3                       float64
Week_4                       float64
Week_5                       float64
Week_6                       float64
Week_7                       float64
dtype: object

## Kicking Stats

In [55]:
kicking.head()

,PLAYER,POSITION,TEAM,GP,FGM_A,FG%,LNG,_1_19,_20_29,_30_39,_40_49,OVER50,XPM_A,XP%,PTS
0,Randy Bullock,K,CIN,7,19,89.5,55,0-0,3-3,6-7,6-7,2-2,16,100.0,67
1,Joey Slye,K,CAR,7,20,85.0,48,0-0,8-8,5-5,4-5,0-2,15,86.7,64
2,Rodrigo Blankenship,K,IND,6,18,88.9,44,0-0,4-4,7-8,5-6,0-0,15,100.0,63
3,Justin Tucker,K,BAL,6,14,92.9,55,0-0,2-2,3-3,7-7,1-2,20,100.0,59
4,Harrison Butker,K,KC,7,14,92.9,58,1-1,3-3,6-6,1-2,2-2,24,79.2,58

In [56]:
kicking_df = pd.merge(kicking, fantasy_pts, left_on = 'PLAYER', right_on = 'Player')
kicking_df.drop(columns = ['Player', 'Team', 'Position'], inplace = True)
kicking_df

,PLAYER,POSITION,TEAM,GP,FGM_A,FG%,LNG,_1_19,_20_29,_30_39,_40_49,OVER50,XPM_A,XP%,PTS,TTL,Week_1,Week_2,Week_3,Week_4,Week_5,Week_6,Week_7
0,Randy Bullock,K,CIN,7,19,89.5,55,0-0,3-3,6-7,6-7,2-2,16,100.0,67,77.0,10.0,13.0,12.0,17.0,3.0,12.0,10.0
1,Joey Slye,K,CAR,7,20,85.0,48,0-0,8-8,5-5,4-5,0-2,15,86.7,64,68.0,12.0,5.0,15.0,7.0,11.0,11.0,7.0
2,Rodrigo Blankenship,K,IND,6,18,88.9,44,0-0,4-4,7-8,5-6,0-0,15,100.0,63,68.0,8.0,15.0,12.0,14.0,11.0,8.0,NaN
3,Justin Tucker,K,BAL,6,14,92.9,55,0-0,2-2,3-3,7-7,1-2,20,100.0,59,68.0,9.0,16.0,9.0,8.0,10.0,16.0,NaN
4,Harrison Butker,K,KC,7,14,92.9,58,1-1,3-3,6-6,1-2,2-2,24,79.2,58,63.0,10.0,13.0,4.0,8.0,6.0,8.0,14.0
5,Younghoe Koo,K,ATL,6,16,93.8,54,0-0,3-3,3-3,7-8,2-2,15,86.7,58,69.0,9.0,17.0,8.0,NaN,13.0,20.0,2.0
6,Jason Sanders,K,MIA,6,15,100.0,52,0-0,5-5,2-2,6-6,2-2,13,100.0,58,68.0,4.0,11.0,7.0,18.0,22.0,6.0,NaN
7,Ryan Succop,K,TB,7,13,84.6,50,0-0,3-3,5-5,2-3,1-2,26,96.2,58,62.0,5.0,7.0,9.0,8.0,14.0,10.0,9.0
8,Daniel Carlson,K,LV,6,14,92.9,54,0-0,5-5,3-3,2-3,3-3,19,94.7,57,65.0,12.0,12.0,8.0,13.0,11.0,NaN,9.0
9,Tyler Bass,K,BUF,7,17,70.6,53,1-1,2-2,3-6,5-6,1-2,19,94.7,54,61.0,9.0,7.0,5.0,6.0,5.0,6.0,23.0
10,Graham Gano,K,NYG,7,16,93.8,55,0-0,4-4,5-5,2-2,4-5,9,100.0,54,64.0,4.0,7.0,13.0,9.0,20.0,8.0,3.0
11,Wil Lutz,K,NO,6,11,100.0,53,0-0,2-2,4-4,4-4,1-1,21,100.0,54,60.0,10.0,6.0,13.0,5.0,15.0,NaN,11.0
12,Zane Gonzalez,K,ARI,7,13,76.9,56,0-0,2-2,1-1,5-7,2-3,24,95.8,53,62.0,8.0,13.0,7.0,3.0,7.0,8.0,16.0
13,Ka'imi Fairbairn,K,HOU,7,14,85.7,50,0-0,3-3,5-5,3-4,1-2,17,94.1,52,57.0,2.0,12.0,3.0,13.0,13.0,6.0,8.0
14,Matt Prater,K,DET,6,16,75.0,51,0-0,2-2,5-5,3-4,2-5,16,100.0,52,59.0,12.0,3.0,14.0,3.0,NaN,11.0,16.0
15,Mason Crosby,K,GB,6,9,100.0,52,0-0,0-0,4-4,4-4,1-1,23,95.7,49,55.0,12.0,11.0,16.0,7.0,NaN,4.0,5.0
16,Robbie Gould,K,SF,7,11,90.9,52,0-0,2-2,3-3,3-3,2-3,20,95.0,49,56.0,10.0,8.0,14.0,2.0,5.0,7.0,10.0
17,Stephen Gostkowski,K,TEN,6,16,62.5,55,0-0,1-2,3-4,1-5,5-5,20,90.0,48,59.0,4.0,12.0,25.0,NaN,6.0,4.0,8.0
18,Brandon McManus,K,DEN,6,14,92.9,56,0-0,3-3,0-0,5-5,5-6,10,90.0,48,63.0,2.0,8.0,6.0,18.0,NaN,24.0,5.0
19,Chris Boswell,K,PIT,6,9,100.0,41,0-0,2-2,5-5,2-2,0-0,21,95.2,47,49.0,9.0,6.0,8.0,NaN,9.0,8.0,9.0
20,Cody Parkey,K,CLE,6,8,100.0,46,0-0,1-1,3-3,4-4,0-0,23,95.7,46,50.0,NaN,5.0,11.0,12.0,13.0,1.0,8.0
21,Greg Zuerlein,K,DAL,7,12,83.3,46,0-0,1-1,4-4,5-5,0-2,16,87.5,44,49.0,5.0,11.0,9.0,2.0,14.0,4.0,4.0
22,Cairo Santos,K,CHI,6,12,83.3,55,0-0,2-2,6-6,1-2,1-2,12,100.0,42,50.0,9.0,5.0,6.0,3.0,9.0,13.0,5.0
23,Nick Folk,K,NE,6,11,81.8,43,0-0,2-2,3-3,4-5,0-1,11,90.9,37,41.0,3.0,6.0,12.0,5.0,NaN,7.0,8.0
24,Jason Myers,K,SEA,6,4,100.0,55,0-0,0-0,0-0,3-3,1-1,25,100.0,37,42.0,9.0,5.0,4.0,9.0,3.0,NaN,12.0
25,Sam Sloman,K,LAR,6,9,77.8,42,0-0,1-2,5-5,1-1,0-1,18,83.3,36,43.0,8.0,7.0,6.0,5.0,6.0,5.0,6.0
26,Jake Elliott,K,PHI,7,12,66.7,54,0-0,1-2,5-5,1-1,1-4,11,100.0,35,38.0,5.0,7.0,14.0,5.0,3.0,0.0,4.0
27,Dustin Hopkins,K,WAS,7,12,66.7,48,0-0,2-2,3-3,3-6,0-1,12,91.7,35,38.0,10.0,3.0,2.0,6.0,5.0,7.0,5.0
28,Sam Ficken,K,NYJ,6,10,90.0,54,0-0,3-3,4-4,1-1,1-2,6,100.0,33,36.0,5.0,8.0,1.0,18.0,4.0,0.0,NaN
29,Dan Bailey,K,MIN,6,8,75.0,52,0-0,1-1,2-2,2-3,1-2,11,100.0,29,33.0,4.0,3.0,7.0,7.0,11.0,1.0,NaN
30,Josh Lambo,K,JAC,3,3,100.0,50,0-0,0-0,1-1,1-1,1-1,8,87.5,16,19.0,12.0,6.0,NaN,NaN,NaN,NaN,1.0
31,Aldrick Rosas,K,JAC,1,5,80.0,50,0-0,1-1,2-2,0-1,1-1,1,100.0,13,15.0,NaN,NaN,NaN,15.0,NaN,NaN,NaN
32,Jonathan Brown,LB,DAL,1,2,50.0,31,0-0,0-0,1-2,0-0,0-0,1,100.0,4,4.0,NaN,NaN,NaN,NaN,NaN,4.0,NaN
33,Sergio Castillo,K,NYJ,1,1,100.0,29,0-0,1-1,0-0,0-0,0-0,1,100.0,4,4.0,NaN,NaN,NaN,NaN,NaN,NaN,4.0
34,Elliott Fry,K,ATL,1,1,100.0,23,0-0,1-1,0-0,0-0,0-0,2,50.0,4,4.0,NaN,NaN,NaN,4.0,NaN,NaN,NaN
35,Stephen Hauschka,K,JAC,1,2,0.0,,0-0,0-1,0-0,0-1,0-0,2,100.0,2,2.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN
36,Brandon Wright,K,JAC,1,0,,,0-0,0-0,0-0,0-0,0-0,2,50.0,1,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN
37,Ty Long,P,LAC,6,0,,,0-0,0-0,0-0,0-0,0-0,0,,0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0
38,Austin Seibert,K,CIN,1,1,0.0,,0-0,0-0,0-0,0-1,0-0,1,0.0,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
39,Logan Thomas,TE,WAS,7,0,,,0-0,0-0,0-0,0-0,0-0,1,0.0,0,38.8,9.7,2.6,3.1,0.8,0.4,10.2,12.0

In [57]:
dash = kicking_df['LNG'][39]
dash

''

In [58]:
kicking_df.fillna('0.0', inplace = True)

In [59]:
kick_int = ['GP', 'FGM_A', 'LNG', 'XPM_A', 'PTS']

kick_float = ['FG%', 'XP%', 'TTL', 'Week_1', 'Week_2', 'Week_3', 'Week_4', 'Week_5', 'Week_6', 'Week_7']

In [60]:
replace_dash(kicking_df, kick_int, dash)

In [61]:
replace_dash(kicking_df, kick_float, dash)

In [62]:
update_int_dtype(kicking_df, kick_int)

In [63]:
adjust_float(kicking_df, kick_float)

In [64]:
update_float_dtype(kicking_df, kick_float)

In [65]:
kicking_df.head()

,PLAYER,POSITION,TEAM,GP,FGM_A,FG%,LNG,_1_19,_20_29,_30_39,_40_49,OVER50,XPM_A,XP%,PTS,TTL,Week_1,Week_2,Week_3,Week_4,Week_5,Week_6,Week_7
0,Randy Bullock,K,CIN,7,19,89.5,55,0-0,3-3,6-7,6-7,2-2,16,100.0,67,77.0,10.0,13.0,12.0,17.0,3.0,12.0,10.0
1,Joey Slye,K,CAR,7,20,85.0,48,0-0,8-8,5-5,4-5,0-2,15,86.7,64,68.0,12.0,5.0,15.0,7.0,11.0,11.0,7.0
2,Rodrigo Blankenship,K,IND,6,18,88.9,44,0-0,4-4,7-8,5-6,0-0,15,100.0,63,68.0,8.0,15.0,12.0,14.0,11.0,8.0,0.0
3,Justin Tucker,K,BAL,6,14,92.9,55,0-0,2-2,3-3,7-7,1-2,20,100.0,59,68.0,9.0,16.0,9.0,8.0,10.0,16.0,0.0
4,Harrison Butker,K,KC,7,14,92.9,58,1-1,3-3,6-6,1-2,2-2,24,79.2,58,63.0,10.0,13.0,4.0,8.0,6.0,8.0,14.0

In [66]:
kicking_df.dtypes

PLAYER       object
POSITION     object
TEAM         object
GP            int64
FGM_A         int64
FG%         float64
LNG           int64
_1_19        object
_20_29       object
_30_39       object
_40_49       object
OVER50       object
XPM_A         int64
XP%         float64
PTS           int64
TTL         float64
Week_1      float64
Week_2      float64
Week_3      float64
Week_4      float64
Week_5      float64
Week_6      float64
Week_7      float64
dtype: object

## Pickle Cleaned DataFrames

In [67]:
offense.to_pickle('players')
team_names.to_pickle('long_names')
defense_df.to_pickle('defense')
kicking_df.to_pickle('kicking')